Flask==0.10.1
Flask-Classy==0.6.10
Flask-MongoAlchemy==0.6.1
Flask-OAuth==0.12
Flask-WTF==0.10.2
Jinja2==2.7.3
MarkupSafe==0.23
MongoAlchemy==0.15
WTForms==2.0.1
Werkzeug==0.9.6
argparse==1.2.1
httplib2==0.9
itsdangerous==0.24
oauth2==1.5.211
pymongo==2.7.2
wsgiref==0.1.2
